<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dashboard</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/app.css" type="text/css" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="images/favicon-32x32.png"
    />
  </head>
  <body>
    <a href="/logout">Logout</a>
    <h2>Welcome to WeldNet</h2>
    <div>
      This will be the main page that will have the menu structure and all of
      the pages, for now, nothing needed on here apart from a logout.
    </div>

    <script src="js/common/helper.js"></script>
    <script src="js/libs/pristine.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
